extends layout

block content
  h1= title
  p.display-4 Danh sách độ ẩm theo thời gian
  .row
    .col-4
      ul#list
        each val, index in mositureList
          li.row #{index+1}.&nbsp; 
            p Thời gian:&nbsp;
            p #{val.date_formatted}
            p &nbsp;---&nbsp;
            p  Độ ẩm:&nbsp;
            p #{val.value}
            p %
            p(style="display:none") #{val.date}
    .col
      #chartContainer(style="height: 370px; width:100%;")
      button#clearDB.btn.btn-danger.btn-block.mt-5 Clear DB
      button#stopSimulator.btn.btn-dark.btn-block.mt-3 Stop simulator



